.idea
node_modules/
.DS_Store
mb*.log
*.pid
/dist/
!scripts/dist/
mountebank.iml
TODO
request.txt
/docs
/coverage
troubleshooting/
protocols.json
.tscache

src/controllers/**/*.js
src/controllers/**/*.js.map

src/util/**/*.js
src/util/**/*.js.map

src/models/behaviors/**/*.js
src/models/behaviors/**/*.js.map

src/models/imposters/**/*.js
src/models/imposters/**/*.js.map

src/models/predicates/**/*.js
src/models/predicates/**/*.js.map

src/models/stubs/**/*.js
src/models/stubs/**/*.js.map
