.idea
node_modules/
.DS_Store
mb*.log
*.pid
/dist/
!scripts/dist/
mountebank.iml
TODO
request.txt
/docs
/coverage
troubleshooting/
protocols.json
.tscache

*.js.map

src/controllers/**/*.js

src/util/**/*.js

src/models/behaviors/**/*.js

src/models/imposters/**/*.js

src/models/predicates/**/*.js

src/models/stubs/**/*.js

test/controllers/**/*.js
test/models/behaviors/**/*.js
test/models/http/**/*.js
test/models/predicates/**/*.js
